{% extends 'base.html' %}

{% block title %}Checkout{% endblock %}

{% block body %}
<div class="container my-5">
    <h1>Checkout</h1>

    <p>Amount to Pay: ₱{{ '%.2f' % total }}</p>

    <form action="{{ url_for('views.place_order') }}" method="POST">

        <div class="form-check">
            <input class="form-check-input" type="radio" name="payment_method" id="cod" value="COD" required>
            <label class="form-check-label" for="cod">Cash on Delivery (COD)</label>
        </div>

        <div class="form-check mt-2">
            <input class="form-check-input" type="radio" name="payment_method" id="gcash" value="GCash" required>
            <label class="form-check-label" for="gcash">GCash</label>
        </div>

        <button type="submit" class="btn btn-primary mt-3">Place Order</button>
    </form>
</div>
{% endblock %}
