{% extends 'base.html' %}

{% block title %} Home {% endblock %}


{% block body %}

<div class="marine-bg">

<!-- -------------------- MAIN CATEGORY ROW -------------------- -->
<div class="container text-center pt-4">
    <div class="row g-3">

        <!-- LEFT LIST GROUP -->
        <div class="col-md-3">
            <div class="list-group glass-nav p-2 rounded-3">

                <a href="" class="list-group-item list-group-item-action bg-transparent text-white border-0">
                    <i class="fa fa-shopping-basket"></i>
                    <span class="link-name">Fresh Catch Today</span>
                </a>
                <a href="" class="list-group-item list-group-item-action bg-transparent text-white border-0">
                    <i class="fas fa-fish"></i>
                    <span class="link-name">Whole Fish</span>
                </a>
                <a href="" class="list-group-item list-group-item-action bg-transparent text-white border-0">
                    <i class="fas fa-cut"></i>
                    <span class="link-name">Filleted Fish</span>
                </a>
                <a href="" class="list-group-item list-group-item-action bg-transparent text-white border-0">
                    <i class="fa fa-camera"></i>
                    <span class="link-name">Shellfish & Crustaceans</span>
                </a>
                <a href="" class="list-group-item list-group-item-action bg-transparent text-white border-0">
                    <i class="fas fa-smog"></i>
                    <span class="link-name">Dried & Smoked</span>
                </a>
                <a href="" class="list-group-item list-group-item-action bg-transparent text-white border-0">
                    <i class="fas fa-box-open"></i>
                    <span class="link-name">Fisherman Bundles</span>
                </a>
                <a href="" class="list-group-item list-group-item-action bg-transparent text-white border-0">
                    <i class="fas fa-boxes"></i>
                    <span class="link-name">Big Catch (Wholesale)</span>
                </a>
                <a href="" class="list-group-item list-group-item-action bg-transparent text-white border-0">
                    <i class="fas fa-snowflake"></i>
                    <span class="link-name">Ice & Packaging</span>
                </a>
                <a href="" class="list-group-item list-group-item-action bg-transparent text-white border-0">
                    <i class="fas fa-anchor"></i>
                    <span class="link-name">Tools for Fishermen</span>
                </a>

            </div>
        </div>

        <!-- CENTER GIF -->
        <div class="col-md-6">
            <img src="../static/images/center.gif" 
                 class="rounded-3 shadow-lg"
                 style="width:100%; height:365px; object-fit:cover;">
        </div>

        <!-- RIGHT PANEL -->
        <div class="col-md-3">

            <div class="glass-nav p-3 rounded-3 text-start">

                <div class="row mb-2 align-items-center">
                    <div class="col-3">
                        <img src="../static/images/help.png" style="width:35px;">
                    </div>
                    <div class="col-9 text-white">
                        <h6 class="fw-bold">CUSTOMER CARE</h6>
                        <p class="text-light small m-0">Assistance</p>
                    </div>
                </div>

                <div class="row mb-2 align-items-center">
                    <div class="col-3">
                        <img src="../static/images/return.png" style="width:35px;">
                    </div>
                    <div class="col-9 text-white">
                        <h6 class="fw-bold">QUICK REFUND</h6>
                        <p class="text-light small m-0">Free Replacement</p>
                    </div>
                </div>

                <div class="row mb-2 align-items-center">
                    <div class="col-3">
                        <img src="../static/images/payment.png" style="width:35px;">
                    </div>
                    <div class="col-9 text-white">
                        <h6 class="fw-bold">FBA PROGRAM</h6>
                        <p class="text-light small m-0">Online Store</p>
                    </div>
                </div>

            </div>

            <div class="mt-3">
                <img src="../static/images/right2.gif" class="right2 rounded-3">
            </div>

        </div>

    </div>
</div>

<!-- -------------------- FEATURE ICONS -------------------- -->
<div class="container text-center mt-4">
    <div class="row g-3">

        <div class="col glass-nav p-2 rounded-3 d-flex align-items-center">
            <img src="../static/images/techweek.png" style="width:30px; height:30px;">
            <h6 class="ms-2 text-white">Today’s Fresh Catch</h6>
        </div>

        <div class="col glass-nav p-2 rounded-3 d-flex align-items-center">
            <img src="../static/images/FreeDelivery.png" style="width:30px; height:30px;">
            <h6 class="ms-2 text-white">Cold-Chain Delivery</h6>
        </div>

        <div class="col glass-nav p-2 rounded-3 d-flex align-items-center">
            <img src="../static/images/food.png" style="width:30px; height:30px;">
            <h6 class="ms-2 text-white">Best-Selling Fish</h6>
        </div>

        <div class="col glass-nav p-2 rounded-3 d-flex align-items-center">
            <img src="../static/images/airtime.png" style="width:30px; height:30px;">
            <h6 class="ms-2 text-white">Fisherman Services</h6>
        </div>

    </div>
</div>

<!-- -------------------- PRODUCT LIST -------------------- -->
<div class="container text-center mt-4">
    <div class="row g-4">

        {% for item in items %}
        <div class="col-md-3">

            <!-- product card -->
            <div class="glass-nav p-2 rounded-3 product-card">

                <img src="{{ item.product_picture }}"
                     style="height:200px; width:100%; object-fit:cover; border-radius:10px;">

                <h6 class="text-white mt-2">{{ item.product_name }}</h6>

                <div class="d-flex justify-content-between align-items-center mt-2">
                    <div class="text-start text-white">
                        <h5 class="fw-bold">Php {{ item.current_price }}</h5>
                        <strike><p class="text-light">Php {{ item.previous_price }}</p></strike>
                    </div>

                    <a href="/add-to-cart/{{ item.id }}" class="btn btn-sm">
                        Add
                    </a>
                </div>

                <p class="text-white small mt-1">{{ item.in_stock }} Items Left</p>

            </div>

            <div class="row">
                <p>{{ item.in_stock }} Items Left</p>
            </div>
        </div>
    
        {% endfor %}

    </div>
</div>

</div> <!-- marine-bg END -->

{% endblock %}
