{% extends 'base.html' %}
{% block title %}Search{% endblock %}

{% block body %}

{% if items|length < 1 %}
<h3 class="text-center mt-5" style="color: white;">No Items Match Your Search Query</h3>

{% else %}

<div class="container my-5">

    <div class="row justify-content-center g-4">

        {% for item in items %}
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex justify-content-center">

            <div class="card shadow-sm" style="width: 100%; max-width: 260px; border-radius: 12px;">

                <img src="{{ item.product_picture }}" 
                    class="card-img-top"
                    style="height: 180px; object-fit: cover; border-radius: 12px 12px 0 0;">

                <div class="card-body text-center">
                    <h6 class="text-muted">{{ item.product_name }}</h6>

                    <h5 class="fw-bold">Php {{ item.current_price }}</h5>
                    <p><strike class="text-muted">Php {{ item.previous_price }}</strike></p>

                    <p class="text-muted">{{ item.in_stock }} Items Left</p>

                    <a href="/add-to-cart/{{ item.id }}" 
                       class="btn btn-primary w-100" 
                       style="border-radius: 8px;">
                        Add to Cart
                    </a>
                </div>
            
            </div>

    
        {% endfor %}

    </div>
</div>

{% endif %}

{% endblock %}
